<section class="main col-md-9">
<h2>Add Category</h2>
<form method="post" action="/categories/add">
    <div class="form-group">
        <label for="category">Category:</label>
        <input class="form-control" id="category" name="category" type="text" autofocus required />
    </div>
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>
</section>