<div class="container" style="padding-top: 90px;">
    <div class="row">
        <aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>Stay tuned for more updates!</p>
        </aside>
        <section class="main col-md-9">
            <article>
                <h2>About</h2>
                <p>
                    My name is Yonathan Tsegaye. I'm 25 years old and studying Computer Programming and Analysis at Seneca Polytechnic. I’m interested in front-end development and want to build a career in it.
                </p>
                <p>
                    I have a few hobbies. I like watching films and have been producing music for six years. I also enjoy reading in my free time.
                </p>
                <p>
                    I'm always looking to learn and improve my skills. Stay tuned for updates on my journey and projects.
                </p>
            </article>
        </section>             
    </div>
</div>

<form method="post" action="/items/add" enctype="multipart/form-data">
    <fieldset>
        <legend>Feature Image</legend>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input
                        class="form-control"
                        id="featureImage"
                        name="featureImage"
                        type="file"
                    />
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <fieldset>
        <legend>Post Content</legend>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="title">Item Name:</label>
                    <input class="form-control" id="title" name="title" type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input class="form-control" id="price" name="price" type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="body">Description:</label>
                    <textarea
                        class="form-control"
                        id="body"
                        name="body"
                        rows="15"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="category">Category:</label>
                    {{#if categories}}
                        <select class="form-control" name="category" id="category">
                            <option value="">Select Category</option>
                            {{#each categories}}
                                <option value="{{this.id}}">{{this.category}}</option>
                            {{/each}}
                        </select>
                    {{else}}
                        <div>No Categories</div>
                    {{/if}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="published">Visibility:</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="published" id="published" />
                            Published
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <hr />
    <input
        type="submit"
        class="btn btn-primary pull-right"
        value="Add Post"
    /><br /><br /><br />
</form>
