@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #ffc1e3, #ffe7da, #fff3b2);
    height: 100%;
    margin: 0;
    padding: 0;
    color: #04040474;
}

p {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

nav a {
    font-weight: 600;
    transition: 0.3s;
}

h2 {
    font-size: 42px;
    text-align: center;
    color: rgb(255, 254, 254);
}

.container {
    max-width: 975px;
    margin: 100px auto;
    padding: 50px;
    background: rgba(255, 255, 255, 0.094);
    border-radius: 35px;
    box-shadow: 0 0 20px rgba(66, 44, 67, 0.655);
}